<%inherit file="/base.html"/>
<%block name="content">

 <div class="king-page-box">
        <div class="king-container clearfix">
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">资源扩充监控设置</h3>
                </div>
                <div class="king-block-content">
                    <form class="form-horizontal">
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">提醒方式：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="邮件提醒">邮件提醒</option>
                                    <option value="短信提醒">短信提醒</option>
                                    <option value="微信提醒">微信提醒</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">监控周期：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="每5分钟">每5分钟</option>
                                    <option value="每10分钟">每10分钟</option>
                                    <option value="每30分钟">每30分钟</option>
                                    <option value="每小时">每小时</option>
                                    <option value="每天">每天</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">CPU监控阈值：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="60%">60%</option>
                                    <option value="70%">70%</option>
                                    <option value="80%">80%</option>
                                    <option value="90%">90%</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">CPU连续高于阈值：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="3次">3次</option>
                                    <option value="4次">4次</option>
                                    <option value="5次">5次</option>
                                    <option value="6次">6次</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">内存监控阈值：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="60%">60%</option>
                                    <option value="70%">70%</option>
                                    <option value="80%">80%</option>
                                    <option value="90%">90%</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">内存连续高于阈值：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="3次">3次</option>
                                    <option value="4次">4次</option>
                                    <option value="5次">5次</option>
                                    <option value="6次">6次</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="button" class="king-btn mr10  king-success">提交</button>
                                <button type="button" class="king-btn king-default ">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">资源释放监控设置</h3>
                </div>
                <div class="king-block-content">
                    <form class="form-horizontal">
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">提醒方式：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="邮件提醒">邮件提醒</option>
                                    <option value="短信提醒">短信提醒</option>
                                    <option value="微信提醒">微信提醒</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">监控周期：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="每5分钟">每5分钟</option>
                                    <option value="每10分钟">每10分钟</option>
                                    <option value="每30分钟">每30分钟</option>
                                    <option value="每小时">每小时</option>
                                    <option value="每天">每天</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">CPU监控阈值：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="1%">1%</option>
                                    <option value="3%">3%</option>
                                    <option value="5%">5%</option>
                                    <option value="10%">10%</option>
                                    <option value="15%">15%</option>
                                    <option value="20%">20%</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">CPU连续低于阈值：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="6次">6次</option>
                                    <option value="5次">5次</option>
                                    <option value="4次">4次</option>
                                    <option value="3次">3次</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">内存监控阈值：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="1%">1%</option>
                                    <option value="3%">3%</option>
                                    <option value="5%">5%</option>
                                    <option value="10%">10%</option>
                                    <option value="15%">15%</option>
                                    <option value="20%">20%</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">内存连续低于阈值：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top">
                                    <option value="6次">6次</option>
                                    <option value="5次">5次</option>
                                    <option value="4次">4次</option>
                                    <option value="3次">3次</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="button" class="king-btn mr10  king-success">提交</button>
                                <button type="button" class="king-btn king-default ">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">监控记录</h3>
                </div>
                <div class="king-block-content">
                    <table class="table mb0 pr15 ranger-box ">
                        <thead>
                            <tr>
                                <th style="width: 100px;">#</th>
                                <th style="width: 20%;">监控类型</th>
                                <th style="width: 20%;">触发时间</th>
                                <th style="width: 15%;">通知方式</th>
                                <th style="width: 15%;">虚机编号</th>
                                <th style="width: 15%;">CPU使用率</th>
                                <th style="width: 15%;">内存使用率</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 100px;">1</td>
                                <td style="width: 10%;">资源释放</td>
                                <td style="width: 10%;">2019-02-15</td>
                                <td style="width: 10%;">邮件通知</td>
                                <td style="width: 10%;">vm-145</td>
                                <td style="width: 10%;">0%</td>
                                <td style="width: 10%;">0%</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 设置面板Start -->
                    <template id="header_tpl_1550064024018">
                        <tr>
                            <th style="width: 100px;">#index#</th>
                            <th style="width: 20%;">#task#</th>
                            <th style="width: 20%;">#progress#</th>
                            <th style="width: 20%;">#host#</th>
                            <th>#date#</th>
                        </tr>
                    </template>
                    <template id="tpl_1550064024018">
                        <tr>
                            <td style="width: 100px;">#index#</td>
                            <td style="width: 20%;">#columnName1#</td>
                            <td style="width: 20%;">#columnName2#</td>
                            <td style="width: 20%;">#columnName3#</td>
                            <td>#columnName4#</td>
                        </tr>
                    </template>
                    <!-- 设置面板End -->
                </div>
            </div>
        </div>
    </div>
<script>

</script>

</%block>