<%inherit file="/base.html"/>

<%block name="content">
<div class="king-page-box">
	<div class="king-container clearfix">
		<div class="king-block king-block-bordered king-block-themed mb0">
			<div class="king-block-content">
				<!-- <form class="form-horizontal" method="post" action=""> -->
				<form class="form-horizontal">
					<div class="form-group clearfix ">
						<label class="col-sm-3 control-label bk-lh30 pt0">VC：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control bk-valign-top" id="host-ip" name="host-ip" placeholder="请输入IP地址"> </div>
					</div>
					<div class="form-group clearfix ">
						<label class="col-sm-3 control-label bk-lh30 pt0">登录名：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control bk-valign-top" id="host-name"  name="host-name" placeholder="请输入用户名"> </div>
					</div>
					<div class="form-group clearfix ">
						<label class="col-sm-3 control-label bk-lh30 pt0" >密码：</label>
						<div class="col-sm-9">
							<input type="password" class="form-control bk-valign-top" id="host-password"  name="host-password" placeholder="请输入密码"> </div>
					</div>
					<div class="form-group clearfix">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="button" class="king-btn mr10  king-primary" id="btn-link" onclick="link-host()">连接</button>
							<button type="button" class="king-btn king-default ">取消</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("#btn-link").click(function(){
        $.post(site_url + 'record_host/',{
            'host_ip': $("#host-ip").val(),
            'host_name': $("#host-name").val(),
            'host_password': $("#host-password").val()
        },function(res){
            if(res.result == 1){
                alert("该主机已存在,无须再注册！");
            }
            else if(res.result == 2){
                alert("主机成功注册！请刷新页面！");
            }
            else{
            	alert("请输入主机地址！")
            }
        },'json');
    });
});
</script>
</%block>

