<%inherit file="/base.html"/>
<%block name="content">

<div class="king-page-box">
    <div class="king-container clearfix">
        <div class="king-block king-block-bordered king-block-themed mb0">
            <div class="king-block-header king-info">
                <ul class="king-block-options">
                    <li>
                        <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                    </li>
                </ul>
                <h3 class="king-block-title">CPU扩缩</h3>
            </div>
            <div class="king-block-content">
                <form class="form-horizontal">
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">VC：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control bk-valign-top" id="vc-ip-cpu" placeholder="请输入VC的IP地址"> </div>
                    </div>
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">虚机：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control bk-valign-top" id="vm-num-cpu" placeholder="请输入要操作的虚机编号"> </div>
                    </div>
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">CPU(核)：</label>
                        <div class="col-sm-9">
                            <select name="" id="cpu-scaling" class="form-control bk-valign-top">
                                <option value="1">1C</option>
                                <option value="2">2C</option>
                                <option value="4">4C</option>
                                <option value="6">6C</option>
                                <option value="8">8C</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="button" class="king-btn mr10  king-success" onclick="reset_vms_cpu(this)">确认</button>
                            <button type="button" class="king-btn king-default ">取消</button>
                        </div>
                    </div>
                    <section>
                        <div class="form-group clearfix">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="bk-horizontal-line"></div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
        <div class="king-block king-block-bordered king-block-themed mb0">
            <div class="king-block-header king-info">
                <ul class="king-block-options">
                    <li>
                        <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                    </li>
                </ul>
                <h3 class="king-block-title">内存扩缩</h3>
            </div>
            <div class="king-block-content">
                <form class="form-horizontal">
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">VC：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control bk-valign-top" id="vc-ip-mem" placeholder="请输入VC的IP地址"> </div>
                    </div>
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">虚机：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control bk-valign-top" id="vm-num-mem" placeholder="请输入要操作的虚机编号"> </div>
                    </div>
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">内存(G)：</label>
                        <div class="col-sm-9">
                            <select name="" id="mem-scaling" class="form-control bk-valign-top">
                                <option value="1024">1G</option>
                                <option value="2048">2G</option>
                                <option value="4096">4G</option>
                                <option value="8192">8G</option>
                                <option value="10240">10G</option>
                                <option value="12288">12G</option>
                                <option value="16384">16G</option>
                                <option value="32768">32G</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="button" class="king-btn mr10  king-success" onclick="reset_vms_mem(this)">确认</button>
                            <button type="button" class="king-btn king-default ">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function reset_vms_cpu(button) {
        $.post(site_url + 'reset_vms_cpu/',{
            'resetcpu_hostip': $("#vc-ip-cpu").val(),
            'resetcpu_vmnum': $("#vm-num-cpu").val(),
            'resetcpu_cpu': $("#cpu-scaling").val()
        },function(res){
            if(res.result == 1){
                alert("成功修改CPU核心数！请刷新页面！");
            }
            else if(res.result == 2){
                alert("修改失败！");
            }
            else{
            	alert("请先关闭虚拟机！")
            }
        },'json');
    }
</script>

<script type="text/javascript">
    function reset_vms_mem(button) {
        $.post(site_url + 'reset_vms_mem/',{
            'resetmem_hostip': $("#vc-ip-mem").val(),
            'resetmem_vmnum': $("#vm-num-mem").val(),
            'resetmem_mem': $("#mem-scaling").val()
        },function(res){
            if(res.result == 1){
                alert("成功修改内存！请刷新页面！");
            }
            else if(res.result == 2){
                alert("修改失败！");
            }
            else{
            	alert("请先关闭虚拟机！")
            }
        },'json');
    }
</script>

</%block>